.bordeaux {
    @apply w-full;
    background-image: url("../assets/bordeaux.jpg");
    background-size: cover;
}

.bourgogne {
    @apply w-full;
    background-image: url("../assets/bourgogne.jpg");
    background-size: cover;
}

.champagne {
    @apply w-full;
    background-image: url("../assets/champagne.jpg");
    background-size: cover;
}

.rhone {
    @apply w-full;
    background-image: url("../assets/vallee_rhone.jpg");
    background-size: cover;
}

.languedoc {
    @apply w-full;
    background-image: url("../assets/languedoc.jpg");
    background-size: cover;
}

.card {
    @apply relative sm:h-64 border-orange-100 border-2 sm:col-span-1 col-span-full h-[4.5rem];
}

