@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,600;1,400;1,600&display=swap');

html, body {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

body {
    @apply min-h-dvh;
}

#root {
    @apply min-h-dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

@media (prefers-reduced-motion: reduce) {
    html, body {
        scroll-behavior: auto !important;
    }
}

.watermark {
    @apply absolute w-full h-full;
    pointer-events: none;
    background-image: url("/src/assets/watermark.png");
    background-repeat: repeat;
    opacity: 10%;
}